h1{
    color:brown;
    
}
#square{
    background-color: ivory;
    height: 50px;
    width: 50px;
}

#header{
    background-color: ivory;
    height: 75px;
    width: 1000px;
}

html{
    background-color: black;
    height: max-content;
    width: max-content;
}

#about{
    color: crimson;
}

#contact{
    color: crimson;
}

h3{
    color: white;
}